<footer class="py-8 text-center text-indigo-600">
    <div class="container mx-auto">
      <p class="mb-4">&copy; <%= Time.current.year %> Copywrite AI. All rights reserved.</p>
      <a href="https://github.com/devSebb" target="_blank" rel="noopener noreferrer" class="text-indigo-400 hover:text-indigo-600 transition">Visit us on GitHub</a>
    </div>
  </footer>
